@font-face {
    font-family: 'Oxygen';
    src: url('/static/fonts/Oxygen/Oxygen-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Oxygen', sans-serif;
    background-color: #2C3333;
    color: #E7F6F2;
}

.title {
    text-align: center;
    margin-top: 100px
}

.first {
    margin-top: 100px;
    margin-left: 15%;
    margin-right: 15%;
    background-color: #395B64;
}
.first h2{
    padding-top: 30px;
    text-align: left;
}
.area {
    display: flex;
    flex-direction: column;
    padding: 20px;
}
.row {
    display: flex;
    flex-direction: column;
    padding: 10px;
}
.change-button {
    width: 150px;
}