<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Steganography</title>
    <link rel="stylesheet" href="/static/css/index.css">
 </head>
<body>
    <h1 class="title">Steganography</h1>
    <div class="first">
        <h2>Encode</h2>
        <div class="row">
            <form action="/encode" method="POST" enctype="multipart/form-data">
            <input type="file" name="image">
            <input type="text" name="message" placeholder="Message">
            <button type="submit">Encode</button>
            <a href="{{ url_for('download_encoded_image') }}" target="_blank">Download</a>
            </form>
        </div>
        <h2>Decode</h2>
        <div class="row">
            <form action="/decode" method="POST" enctype="multipart/form-data">
            <input type="file" name="image">
            <button type="submit">Decode</button>
            </form>
        </div>
    </div>
</body>
</html>
