<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Steganography</title>
    <link rel="stylesheet" href="/static/css/index.css">
 </head>
<body>
    <h1 class="title"></h1>
    <div class="first">
        <div class="area">
            <div class="row">
                <h2 data-value="Encode">Encode</h2>
            </div>
            <div class="row">
                <form action="/encode" method="POST" enctype="multipart/form-data">
                <input type="file" name="image">
            </div>
            <div class="row">
            <textarea rows="5" type="text" name="message" placeholder="Message"></textarea>
            <button type="submit">Encode</button>
            </div>
            <div class="row">
            <button class="change-button" type="button" onclick="downloadEncodedImage()">Open encoded image</button>
            </form>
            </div>
        </div>
        <div class="area">
            <div class="row">
            <h2 data-value="Decode">Decode</h2>
            <form action="/decode" method="POST" enctype="multipart/form-data">
            <input type="file" name="image">
            <button type="submit">Decode</button>
            </form>
            </div>
        </div>
    </div>
</body>
<script src="/static/js/index.js"></script>
</html>
