<!DOCTYPE html>
<html>
<head>
    <title>Steganography</title>
</head>
<body>
    <h1>Steganography</h1>
    <h2>Encode</h2>
    <form action="/encode" method="POST" enctype="multipart/form-data">
        <input type="file" name="image">
        <input type="text" name="message" placeholder="Message">
        <button type="submit">Encode</button>
        <a href="{{ url_for('download_encoded_image') }}" target="_blank">Download</a>
    </form>
    <h2>Decode</h2>
    <form action="/decode" method="POST" enctype="multipart/form-data">
        <input type="file" name="image">
        <button type="submit">Decode</button>
    </form>
</body>
</html>
